.aep-hero .aep-hero-banner {
  margin-top: 3em;
  border-bottom: 1px solid #dadce0; }
  .aep-hero .aep-hero-banner .aep-hero-title {
    font-size: 250%;
    font-weight: bold; }
    .aep-hero .aep-hero-banner .aep-hero-subtitle {
      font-size: 125%;
      margin-top: 1em; }
      .aep-hero .aep-hero-banner .aep-buttons {
        padding-top: 2em;
        padding-bottom: 2em; }
        .aep-hero .aep-hero-banner .aep-buttons > a {
          margin-right: 1em; }
.aep-hero .aep-landing-content {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dadce0; }
  .aep-hero .aep-landing-content h1 {
    font-size: 160%;
    font-weight: bold; }
    .aep-hero .aep-landing-content p {
      font-size: 115%; }
.aep-hero .aep-shortcuts {
  padding-top: 1em; }
  .aep-hero .aep-shortcuts .aep-shortcut {
    padding-top: 1em; }
    .aep-hero .aep-shortcuts .aep-shortcut > h1 {
      font-weight: bold;
      font-size: 120%; }
      .aep-hero .aep-shortcuts .aep-shortcut > a {
        margin-top: 1em; }
