---
name: build-and-publish-protos
on:
  pull_request:
    paths:
      - 'common-components/proto/**/*.proto'
jobs:
  build-and-publish-protos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1.25.0

      - name: Verify that protos build.
        run: buf build common-components/proto

      - uses: bufbuild/buf-push-action@v1
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}
          input: common-components/proto
          draft: ${{ github.ref_name != 'main'}}