---
name: publish
on:
  push:
    branches:
      - main
      - rebrand
# Recommended by https://github.com/JamesIves/github-pages-deploy-action
permissions:
  contents: write
jobs:
  github-pages:
    runs-on: ubuntu-latest
    container: python:3.8
    steps:
      - uses: actions/checkout@v3
      - name: Install system dependencies.
        run: apt-get update && apt-get install -y rsync
      - name: Install the site generator.
        run: pip install -r requirements.txt
      - name: Build the static site.
        run: aep-site-gen . out
      - name: Publish the static site to GitHub Pages.
        uses: jamesives/github-pages-deploy-action@releases/v4-init
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: out
